:root {
	--margin: 10vw;
	--width: 100%;
	--fontsize: 1.25em;
}

@font-face {
	font-family: SuisseIntlLight;
	src: url("../font/SuisseIntl-Light.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
	margin:0;
	color: black;
	background-color: #dcdcdc;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 1px;
	font-size: var(--fontsize);
	width: calc(var(--width) - var(--margin) - var(--margin));
	overflow-x: hidden;
	font-family: SuisseIntlLight;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover, .link:hover {
	color: gray;
}

a:active {
	color: black;
}

/* Tools */
.italic {
	font-style: italic;
}	

.bold {
	font-style: bold;
}

.with {
	font-size: calc(var(--fontsize) * 0.75)
}

.center {
	text-align: center;
}
.block {
	position: relative;
	padding-top: var(--margin);
}

.mg-left {
	margin-left: var(--margin);
}

.paragraph {
	padding-top: calc(var(--margin) / 2);
}

.link {
	text-decoration: underline;
}

.nodecorations {
	text-decoration: none !important;
}

.gridlayout {
	display: grid;
	grid-template-columns: auto auto;
	align-items: start;
}

.gridlayout img, img {
	width: 100%;
	height: auto;
	display: block;
}

.block-left {
	margin-right: 10px;
}

.block-right {
	margin-left: 10px;
}

/* ID */
#container {
	padding: var(--margin);
	width: 100%;
	position: relative;
}

#title {
}

#intro {
}

#releases {
}

#shows {
}

#gallery {
}


#top {
	position: fixed;
	right: calc(var(--margin) / 4);
	bottom: calc(var(--margin) / 4);
}


@media (max-width: 1000px) {

}


/* #testarea */

#fixed-top {
	position: absolute;
	top: 110vh;
	bottom: 0;
	left: 0;
	right: 0;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	clip-path:polygon(0 0,100% 0,100% 100%,0 100%);
}

#sticky-top {
    position: sticky;
    padding-right: calc(var(--margin) / 4);
    padding-bottom: calc(var(--margin) / 4);
    bottom: 0;
    text-align: right;
}