:root {
  --margin: 2vw;
  --width: 100%;
  --fontsize: 20px
}

@font-face {
  font-family: SuisseIntlLight;
  src: url("../font/SuisseIntl-Light.ttf");
}

body {
  margin: var(--margin);
  color: white;
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  font-size: var(--fontsize);
  width: calc(var(--width) - var(--margin) - var(--margin));
  overflow-x: hidden;
  font-family: SuisseIntlLight;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
}

a:active {
  color: white;
}

/* Tools */

.italic {
  font-style: italic;
}	

.bold {
  font-style: bold;
}

.with {
  font-size: calc(var(--fontsize) * 0.75)
}

.block {
  position: relative;
  margin-bottom: var(--margin);
}

.mg-left {
  margin-left: var(--margin);

}

.paragraph {
  margin-bottom: calc(var(--margin) / 2);
}

.nodecorations {
  text-decoration: none !important;
}
/* ID */

#title {
  text-align: center;
}

#intro {
  text-align: justify;
}

#releases {
}

#shows {
  
}

#top {
  position: fixed;
  background-color: black;
  right: var(--margin);
  bottom: var(--margin);
}
